.carousel-control-next-icon {
    padding-top: 80px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.carousel-control-prev-icon{
    padding-top: 80px;
    background-color: black;
    color: white;
    border-radius: 5px;
}